body {
    text-align: center;
    font-family: Arial;
    background-color: #f4f4f4;
}

img {
    border-radius: 50%;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

/* spacing improvement */

p {
    margin-bottom: 20px;
}

h2 {
    margin-top: 40px;
}
