body {
    text-align: center;
    font-family: Arial;
    background-color: #f4f4f4;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px auto;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

/* spacing improvement */

p {
    margin-bottom: 20px;
}

h2 {
    margin-top: 40px;
}
container {
    background: white;
    width: 70%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
}

background: white; → white box

width: 70%; → takes 70% of screen width

margin: auto; → centers the box

padding: 30px; → adds space inside the box

border-radius: 10px; → rounded corners

.section {
    margin-top: 30px;
    padding: 20px;
    border-top: 1px solid #ddd;
}
